{% extends 'base.html' %}

{% block title %}API Documentation{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}" class="current">Contact</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('radio_page') }}">Radio</a>
        <a href="{{ url_for('levels_list') }}">Lists</a>
        <a class="change-theme-button" onclick="toggleDarkMode()">Theme</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main>
    <h1>Gild Website API Documentation</h1>

    <h2>Get top levels</h2>
    <p>
        <span class="path"><b>/api/lists/</b>[gild/server]<b>/</b>[classic/challenges]</span>
    </p>
    <h3>Examples:</h3>
    <ul>
        <li><span class="path">/api/lists/gild/classic</span></li>
        <li><span class="path">/api/lists/gild/challenges</span></li>
        <li><span class="path">/api/lists/server/classic</span></li>
        <li><span class="path">/api/lists/server/challenges</span></li>
    </ul>
    <hr>

    <h2>Get a level</h2>
    <p>
        <span class="path"><b>/api/lists/</b>[gild/server]<b>/</b>[classic/challenges]<b>/</b>[level name]</span>
    </p>
    <h3>Examples:</h3>
    <ul>
        <li><span class="path">/api/lists/gild/classic/Flashback</span></li>
        <li><span class="path">/api/lists/gild/challenges/Unnamed</span></li>
    </ul>
    <hr>

    <h2>Get players</h2>
    <ul>
        <li><span class="path"><b>/api/lists/players</b></span> alphabetic order</li>
        <li><span class="path"><b>/api/lists/players?sort=</b>[key]</span> reverted by default (from biggest to smallest)</li>
        <li><span class="path"><b>/api/lists/players?sort=</b>[key]<b>&reverse=false</b></span> without revert (from smallest to biggest)</li>
    </ul>
    <h3>Examples:</h3>
    <ul>
        <li><span class="path">/api/lists/players?sort=levels_list_points</span></li>
        <li><span class="path">/api/lists/players?sort=server_challenges_list_points</span></li>
        <li><span class="path">/api/lists/players?sort=hardest_pos&reverse=false</span></li>
        <li><span class="path">/api/lists/players?sort=5_hardests_mean&reverse=false</span></li>
    </ul>
    <hr>

    <h2>Get a player</h2>
    <p>
        <span class="path"><b>/api/lists/players/</b>[player]</span>
    </p>
    <h3>Examples:</h3>
    <ul>
        <li><span class="path">/api/lists/players/Ihv2010</span></li>
        <li><span class="path">/api/lists/players/Gild56</span></li>
    </ul>
    <hr>

    <h2>Get top completed extremes</h2>
    <p>
        <span class="path"><b>/api/lists/top_completed_extremes</b></span>
    </p>
</main>
{% endblock %}
