{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}" class="current">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('radio_page') }}">Radio</a>
        <a href="{{ url_for('levels_list') }}">Lists</a>
        <a class="change-theme-button" onclick="toggleDarkMode()">Theme</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main>
    <div class="persistent-columns small-margin-top">
        <div class="column">
            <h1 class="big no-margin">Gild56</h1>
            <h2 class="medium">Welcome!</h2>
        </div>
        <div class="column" id="drawing-container">
            <img height="100px" id="drawing" src="{{ url_for('static', filename='images/other/drawing.jpg') }}" alt="Gild56's logo">
        </div>
    </div>
    <p class="no-margin">
        I'm a Python coder and a Geometry Dash player from Ukraine living in France. That's my personal website. Have fun!
    </p>
    <p>
        I am part of the Global Demonlist staff, I have 1.5k+ subs on YouTube, 400+ members on my Discord server and 117 completed demons: Acu (60hz Android, 115k attempts with a jump from CraZy) and Thtough The Decay (60hz laptop)
    </p>
    <hr class="small-margin-top">
    <p>
        Go chat in the <a href="{{ url_for('community') }}"> community tab</a> !
    </p>
    <p>
        <i>Valentrain</i> ➔ <a href="{{ url_for('jaime_les_ours') }}" target="_blank" class="no-bg no-padding circle-image"><img src="{{ url_for('static', filename='images/other/bear.jpg') }}" height="30px" style="border-radius: 50%; vertical-align: middle;" alt="Bear"></a>
    </p>
    <p>
        Join my <a href="https://discord.gg/D4mUZtkAMY">Discord Server</a>
    </p>
    <p>
        <a href="{{ url_for('tournaments') }}">Gild Tournaments</a>
    </p>

    <h1 style="margin-top: 50px;">Hall of fame</h1>
    <p>
        <ul>
            <li>Ihv2010 <img src="{{ get_cube('Ihv2010') }}" class="icon" alt="Ihv2010's icon"> (goat)</li>
            <li>Sepanzer <img src="{{ get_cube('Sepanzer') }}" class="icon" alt="Sepanzer's icon"> (goat)</li>
            <li>Adamorocco <img src="{{ get_cube('Adamorocco') }}" class="icon" alt="Adamorocco's icon"> (first user)</li>
            <li>Viktor Lukyanov (best teacher ever)</li>
            <li>Yevgen (friend / former host)</li>
            <li>Every user of this site! <img src="{{ get_cube('CarryTheBall') }}" class="icon" alt="CarryTheBall's icon"></li>
        </ul>
    </p>

    <h1 style="margin-top: 50px;">Top donators:</h1>
    <p>
        <ul>
            <li>speedy <img src="{{ get_cube('speedy') }}" class="icon" alt="speedy's icon"> - 10€</li>
            <li>Maveron (mkm) <img src="{{ get_cube('Maveron') }}" class="icon" alt="Maveron's icon"> - 8€</li>
            <li>Belivinn (belivqe) <img src="{{ get_cube('Belivinn') }}" class="icon" alt="Belivinn's icon"> - 4,33€</li>
            <li>Spxrks <img src="{{ get_cube('Spxrks') }}" class="icon" alt="Spxrks's icon"> - 3,89€</li>
            <li>szymek <img src="{{ get_cube('szymek') }}" class="icon" alt="szymek's icon"> - 1,16€</li>
            <li>Execution - 3,09€</li>
            <li>ItzPampirs - 0,87€</li>
        </ul>
    </p>

    <h1 style="margin-top: 50px;">Admins</h1>
    <p>
        <ul>
            <li>Gild56 <img src="{{ get_cube('Gild56') }}" class="icon" alt="Gild56's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/ua.svg') }}" alt="Ukrainian flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/ru.svg') }}"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/fr.svg') }}" alt="French flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/es.svg') }}" alt="Spanish flag"> (<img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/it.svg') }}" alt="Italian flag">)</li>
            <li>Ihv2010 <img src="{{ get_cube('Ihv2010') }}" class="icon" alt="Ihv2010's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/es.svg') }}" alt="Spanish flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li>
            <li>Carla (Ihv2010's gf) <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/es.svg') }}" alt="Spanish flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li></li>
            <li>Sepanzer <img src="{{ get_cube('Sepanzer') }}" class="icon" alt="Sepanzer's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/de.svg') }}" alt="German flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"> (<img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/fr.svg') }}" alt="French flag">)</li>
            <li>Minh <img src="{{ get_cube('Minh') }}" class="icon" alt="Minh's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/vn.svg') }}" alt="Vietnamese flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li>
            <li>Djo2x <img src="{{ get_cube('Djo2x') }}" class="icon" alt="Djo2x's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li>
            <li>speedy <img src="{{ get_cube('speedy') }}" class="icon" alt="speedy's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/es.svg') }}" alt="Spanish flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li>
            <li>Sao <img src="{{ get_cube('Sao') }}" class="icon" alt="Sao's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/fr.svg') }}" alt="French flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li>
            <li>Maveron (mkm) <img src="{{ get_cube('Maveron') }}" class="icon" alt="Maveron's icon"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/ru.svg') }}"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li>
            <li>MrLink <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/fr.svg') }}" alt="French flag"> <img class="emoji flag-no-shadow" src="{{ url_for('static', filename='images/flags/gb.svg') }}" alt="British flag"></li>
        </ul>
    </p>
</main>
{% endblock %}
