@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/kumbh_sans_variable.ttf") format("truetype");
}

body {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    background-color: #0037ff;
    min-height: 100vh;
    flex-direction: column;
    display: flex
}

header {
    background-color: #ffffff;
    color: #0037ff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
}

footer {
    background-color: #ffffff;
    color: #0037ff;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
}

main {
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    color: #ffffff;
    flex: 1;
    margin-bottom: 1em;
}

h1, h2, nav a {
    letter-spacing: 0.5px;
    font-weight: 900;
}

hr {
    border: #ffffff 2px solid;
    color: #ffffff;
}

.level-container a:hover {
    color: white !important;
}
