a {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

/* Main */
main a {
    color: var(--light-blue);
    background-color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: 0.15s;
}

main a:hover {
    text-decoration: none;
    color: var(--black);
}


/* Form */

form a:hover {
    text-decoration: none;
    color: #000755;
}


/*Footer*/
footer a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--light-blue);
    font-weight: bold;
    transition: 0.15s;
}

footer a:hover {
    color: var(--black);
}

/* Comments */

div.post a {
    color: var(--white);
    background-color: inherit;
    text-decoration: none;
    font-weight: normal;
    transition: 0.15s;
}

div.post a:hover {
    color: var(--white);
    background-color: inherit;
    text-decoration: underline;
    font-weight: normal
}
