@media screen and (max-width: 1300px) {
    nav a {
        font-size: 125% !important;
    }

    nav {
        padding-left: 0;
    }
}

@media screen and (max-width: 1000px) {
    nav a {
        font-size: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding-top: 0;
        padding-right: 40px;
        padding-left: 40px;
    }

    header {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        position: sticky;
        top: 0px;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        padding-left: 2em;
    }

    nav a {
        margin: 0;
        padding: 0;
        margin-left: 0.5em;
        font-size: 100%;
    }

    address {
        margin-bottom: 1em;
    }

    .columns {
        flex-direction: column;
        gap: 10px;
    }

    .columns-space-between {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    hr {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .right {
        text-align: left;
    }

    .big-margin-bottom {
        margin: 0;
    }

    footer p {
        margin: 2px;
        margin-top: 10px;
    }

    .big-img-container {
        margin: 0;
    }

    .bio {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .bigger-margin-bottom {
        margin-bottom: 2em;
    }

    .current {
        border-width: 5px;
    }

    #drawing {
        margin: 0;
        height: 100px;
    }

    .margin-top {
        margin-top: 0;
    }

    .screenshot {
        margin: 0;
    }

    .notification {
        left: 8.8em;
    }

    .smaller-padding {
        font-size: 75% !important;
    }

    .level-container .row {
        flex-direction: column;
    }

    .level-container {
        width: auto;
    }

    footer {
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .align-on-mobile {
        text-align: center;
    }

    .levels-page-preview {
        height: 100px;
    }

    .level-page-container .big {
        font-size: 100% !important;
    }

    .big-margin-left-right {
        margin-left: 1em;
        margin-right: 1em;
    }

    .copyable-heading {
        margin-top: 0.5em !important;
        margin-bottom: 0.5em !important;
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
        font-size: medium !important;
    }

    .player-description {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .level-container .left-margin {
        margin-top: 0.5em !important;
        margin-bottom: 0.5em !important;
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
        font-size: medium !important;
    }
}
