nav {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

nav a {
    font-weight: 900;
    font-size: 200%;
    background-color: transparent;
    border-bottom: 5px solid transparent;
    color: var(--mid-blue);
    padding: 8px;
    margin: 0;
    text-decoration: none;
    transition: 0.15s;
    display: flex;
    justify-content: flex-end;
    display: inline;
    white-space: nowrap;
    width: fit-content;
}

nav a:hover {
    color: var(--black);
    transition: .15s;
}

.current {
    color: var(--black);
    border-color: var(--black);
    border-width: 7px;
}
