.big-margin-bottom {
    margin-bottom: 4em;
}

.path {
    background-color: #5454ff;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.big {
    font-size: 300%;
    margin-bottom: 0;
}

.medium {
    font-size: 150%;
    margin-top: 0;
}

.red {
    color: #770000
}

.no-bg {
    background-color: transparent !important;
}

.no-bg:hover {
    background-color: transparent !important;
}

.no-margin {
    margin: 0 !important;
}

.subimt {
    padding: 0.2em !important;
    margin-bottom: 0.5em;
}

.fit {
    width: 40px !important;
    height: 40px !important;
    margin-top: 5px !important;
}

.no-bold {
    font-weight: normal !important;
    font-size: 90%;
}

.margin-top {
    margin-top: 2em !important;
}

.bigger-container {
    font-size: 150%;
}

#drawing-container {
    width: fit-content;
    margin-right: 3em;
}

#drawing {
    border-radius: 100px;
    margin-left: 2em;
}

.screenshot {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.small-margin-top {
    margin-top: 20px !important;
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 11.3em;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 1s ease;
}

.align-center {
    text-align: center;
}
