.big-margin-bottom {
    margin-bottom: 4em;
}

.path {
    background-color: #5454ff;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.big {
    font-size: 300% !important;
    margin-bottom: 0;
}

.medium {
    font-size: 150% !important;
    margin-top: 0;
}

.red {
    color: #770000
}

.no-bg {
    background-color: transparent !important;
}

.no-bg:hover {
    background-color: transparent !important;
}

.no-margin {
    margin: 0 !important;
}

.subimt {
    padding: 0.2em !important;
    margin-bottom: 0.5em;
}

.fit {
    width: 40px !important;
    height: 40px !important;
    margin-top: 5px !important;
}

.no-bold {
    font-weight: normal !important;
    font-size: 90%;
}

.margin-top {
    margin-top: 2em !important;
}

.bigger-container {
    font-size: 150%;
}

#drawing-container {
    width: fit-content;
    margin-right: 3em;
    margin-left: 1em;
}

#drawing {
    border-radius: 50%;
}

.screenshot {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 5px solid #00064b;
    border-radius: 20px;
    max-width: 20em;
    height: auto;
    width: auto;
}

.small-margin-top {
    margin-top: 20px !important;
}

.smaller-margin-top {
    margin-top: 5px !important;
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 11.3em;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 1s ease;
}

.align-center {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

.pfp-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.pfp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 20px;
    transition: border-color 0.2s;
}

.pfp-container input[type="radio"] {
    display: none;
}

.pfp-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: border-color 0.2s;
}

.pfp-container p {
    font-weight: bold;
}

.pfp-container:hover img,
.pfp-container input[type="radio"]:checked + img {
    border-color: #000024;
}

.icon {
    vertical-align: middle;
    height: 17px;
}

.copyable-heading {
    cursor: pointer;
}

.level-container {
    cursor: pointer;
    left: 20px;
    padding: 10px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    background-color: #000089 !important;
    overflow-y: auto;
    resize: none;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.level-container:hover {
    background-color: #000655 !important;
    transform: scale(1.03);
}

.level-container:focus {
    outline: none;
}

.left-margin {
    margin-left: 1em;
}

.preview {
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 3px;
    border: 1px solid #ffffff;
}

.level-page-container {
    left: 20px;
    padding: 10px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    background-color: #000089 !important;
    overflow-y: auto;
    resize: none;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
    padding: 2em;
    width: 800px;
}

.level-page-container h1 {
    margin: 0;
    margin-bottom: 1em;
}

.player-cube {
    margin-top: 7px;
    margin-bottom: 3px;
}

.points {
    color: #6767ff
}

.bigger-line-height {
    line-height: 1.6;
}

.big-margin-left-right {
    margin-left: 15%;
    margin-right: 15%;
}

.player-description {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
}

footer .big-margin-bottom {
    margin-bottom: 1em;
}
