nav a::selection,
header h1::selection,
footer li::selection,
footer p::selection,
footer h2::selection,
footer strong::selection {
    color: var(--white);
    background-color: var(--light-blue);
}

main li::selection,
main p::selection,
main b::selection,
main i::selection,
main h1::selection,
main h2::selection,
main h3::selection,
main button::selection,
main button b::selection,
textarea::selection,
input::selection,
summary::selection,
.name::selection,
.link::selection,
img::selection {
    color: var(--light-blue);
    background-color: var(--white);
}

footer a::selection,
main a::selection {
    color: var(--light-blue);
    background-color: #00aaff;
}

.path::selection {
    color: var(--white);
    background-color: #4c4c4c;
}

.red::selection {
    color: var(--white);
    background-color: #770000;
}
