textarea {
    left: 20px;
    width: 100%;
    height: 5em;
    padding: 10px;
    border: 4px solid var(--white);
    border-radius: 20px;
    overflow-y: auto;
    background-color: var(--mid-blue);
    resize: none;
    font-size: 1rem;
    color: var(--white);
    box-sizing: border-box;
}

textarea::grammar-error {
    color: var(--red);
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #58d8ff;
    font-style: italic;
}
