{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('community') }}">Community</a>
        {% if logged_in %}
            <a href="{{ url_for('log_out') }}">Log Out</a>
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main class="no-margin align-center">
    <div class="bigger-container">
        <h1 class="big">404 Error</h1>
        <h2 class="medium">Page Not Found</h2>
        <h2 class="no-bold">This is not the page you are looking for.</h2>
        <h2 class="no-bold"><a href="{{ url_for('index') }}">Return to the home page.</a></h2>
    </div>
</main>
{% endblock %}
