<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gild56 | {% block title %}<!-- Page Name -->{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/logo.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/other.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/selections.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation-bar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/textarea.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">

        <meta name="description" content="Gild56's personal website. Welcome! :D">
        <meta name="author" content="Gild56">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Gild56">
        <meta property="og:description" content="Gild56's personal website. Welcome! :D">
        <meta property="og:image" content="{{ url_for('static', filename='images/logo.ico') }}">
        <meta property="og:url" content="https://misha.devatlant.com">

        <meta name="author" content="Gild56">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Organization",
              "name": "Gild56 Website",
              "url": "https://misha.devatlant.com",
              "logo": "https://misha.devatlant.com/static/images/drawing.jpg"
              "foundingDate": "2025-01-01",
              "sameAs": [
                "https://instagram.com/gild56gmd/",
                "https://youtube.com/@gild56gmd",
                "https://github.com/Gild56"
              ]
            }
        </script>
    </head>

    <body>
        {% block content %}
            <!-- Page content could be there -->
        {% endblock %}
        <footer>
            <div class="columns">
                <address>
                    <p><strong>Author:</strong> Gild56</p>
                    <p><strong>Email:</strong> <a href="mailto:gild56gmd@gmail.com">gild56gmd@gmail.com</a></p>
                </address>

                <section class="right column">
                    <p class="big-margin-bottom">
                        All rights reserved. &copy Gild56 <br>To ask for permissions, please write me an email.
                    </p>
                    <p>
                        <strong>Follow me:</strong>
                        <a href="https://instagram.com/gild56gmd" target="_blank">Instagram</a> |
                        <a href="https://github.com/Gild56" target="_blank">GitHub</a> |
                        <a href="https://youtube.com/@gild56gmd" target="_blank">YouTube</a>
                    </p>
                </section>
            </div>
        </footer>
        {% block script %}
        <!-- JavaScript imports could be there -->
        {% endblock %}
    </body>
</html>
