{% extends 'base.html' %}

{% block title %}Change Profile Picture{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('log_out') }}">Log Out</a>
        <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
    </nav>
</header>

<main>
    <h1>Choose your profile picture:</h1>
    <hr>
    <form method="POST" action="{{ url_for('change_pfp') }}">
        <div class="pfp-selection">
            {% for pfp in all_pfps %}
            <label class="pfp-container">
                <input type="radio" name="selected_pfp" value="{{ pfp }}" required>
                <img src="{{ url_for('static', filename='images/cubes/' + pfp + '.png') }}">
                <p>{{ pfp }}</p>
            </label>
            {% endfor %}
        </div>
        <div class="align-center">
            <button type="submit" class="big-link">Submit</button>
        </div>
    </form>
</main>
{% endblock %}
