{% extends 'base.html' %}

{% block title %}Games{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('games') }}" class="current">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
        <a href="{{ url_for('community') }}">Community</a>
        {% if logged_in %}
            <a href="{{ url_for('log_out') }}">Log Out</a>
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main>
    <div class="columns-space-between">
        <div class="column">
            <h1>Quiz Master</h1>
            <p class="small-margin-top">
                Quiz Master is a simple Kivy quiz app. You can collect points, presonalize all for your taste, listen your favorite music and much more!
            </p>
            <p class="small-margin-top">
                <a href="https://github.com/Gild56/quizmaster/releases/download/v1.0.0/Quiz.Master.exe" class="no-bg"><button>Download a <b>.EXE</b></button></a>
                <b>EXE</b> is a Windows executable format easy to use. You have only one file that you can just open by clicking on it.
            </p>
            <p class="small-margin-top">
                <a href="https://github.com/Gild56/quizmaster/archive/refs/heads/main.zip" class="no-bg"><button>Download a <b>.ZIP</b></button></a>
                <b>ZIP</b> is a compressed archive. First, you need to "unzip" the file. Then, you need to install python and run the <span class="path">quizmaster/command/play.vbs</span> file.
            </p>
        </div>
        <div class="column">
            <img class="screenshot" height="200px" src="{{ url_for('static', filename='images/quizmaster.png') }}" alt="Quiz Master App Screenshot">
        </div>
    </div>
    <hr>
    <div class="columns-space-between">
        <div class="column">
            <h1>Valorant Randomizer</h1>
            <p class="small-margin-top">
                Valorant Randomizer is a custom fanmade program on Kivy to use while playing Valorant for randomize your character and weapons.
            </p>
            <p class="small-margin-top">
                <a href="https://github.com/Gild56/valorant_randomizer/releases/download/v1.0.0/Valorant.Randomizer.exe" class="no-bg"><button>Download a <b>.EXE</b></button></a>
                <b>EXE</b> is a Windows executable format easy to use. You have only one file that you can just open by clicking on it.
            </p>
            <p class="small-margin-top">
                <a href="https://github.com/Gild56/valorant_randomizer/archive/refs/heads/main.zip" class="no-bg"><button>Download a <b>.ZIP</b></button></a>
                <b>ZIP</b> is a compressed archive. First, you need to "unzip" the file. Then, you need to install python and libs used in the project and run the <span class="path">valorant_randomizer/app.py</span> file.
            </p>
        </div>
        <div class="column">
            <img class="screenshot" height="200px" src="{{ url_for('static', filename='images/valorant_randomizer.png') }}" alt="Valorant Randomizer App Screenshot">
        </div>
    </div>
    <hr>
    <div class="columns-space-between">
        <div class="column">
            <h1>Gild56 Website</h1>
            <p class="small-margin-top">
                The Gild56's personal website is the one you are reading right now! :P
            </p>
            <p class="small-margin-top">
                <a href="https://github.com/Gild56/gild56_website/archive/refs/heads/main.zip" class="no-bg"><button>Download a <b>.ZIP</b></button></a>
                <b>ZIP</b> is a compressed archive. First, you need to "unzip" the file. Then, you need to install python and libs used in the project and run the <span class="path">gild56_website/app.py</span> file.
            </p>
        </div>
        <div class="column">
            <img class="screenshot" height="200px" src="{{ url_for('static', filename='images/gild56_website.png') }}" alt="Gild56 Website Screenshot">
        </div>
    </div>
    <hr>
    <div class="columns-space-between">
        <div class="column">
            <h1>Titanic AI</h1>
            <p class="small-margin-top">
                Would you have survived on the Titanic? Fill out the questionnaire and find out with up to 80% accuracy!
            </p>
            <p class="small-margin-top">
                <a href="https://github.com/Gild56/titanic_ai/releases/download/1.0.0/TitanicAI.exe" class="no-bg"><button>Download a <b>.EXE</b></button></a>
                <b>EXE</b> is a Windows executable format easy to use. You have only one file that you can just open by clicking on it.
            </p>
            <p class="small-margin-top">
                <a href="https://github.com/Gild56/titanic_ai/archive/refs/heads/main.zip" class="no-bg"><button>Download a <b>.ZIP</b></button></a>
                <b>ZIP</b> is a compressed archive. First, you need to "unzip" the file. Then, you need to install python and libs used in the project and run the <span class="path">titanic_ai/main.py</span> file.
            </p>
        </div>
        <div class="column">
            <img class="screenshot" height="200px" src="{{ url_for('static', filename='images/titanic_ai.png') }}" alt="Titanic Image">
        </div>
    </div>
</main>
{% endblock %}
