{% extends 'base.html' %}

{% block title %}Hall of Fame{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}" class="current">Hall of Fame</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('levels_list') }}">Lists</a>
        <a class="change-theme-button" onclick="toggleDarkMode()">Change theme</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main>
    <h1>Hall of fame</h1>
    <p>
        <ul>
            <li>Yevgen (friend / server guy!)</li>
            <li>One / Ms Laye / Maximus Valentinus / Valtin / Alfred Bearman / Valentrain / Lilou / Valentin (friend)</li>
            <li>Ihv2010 <img src="{{ url_for('static', filename='images/cubes/Ihv2010.png') }}" class="icon" alt="Ylissen's icon"> (goat)</li>
            <li>Ylissen <img src="{{ url_for('static', filename='images/cubes/Ylissen.png') }}" class="icon" alt="Ylissen's icon"> <i>(la dash orbe noire)</i></li>
            <li>Kikouiz / Enoah <img src="{{ url_for('static', filename='images/cubes/Kikouiez.png') }}" class="icon" alt="IcEDCave's icon"> (friend / birds' friend)</li>
            <li>Adamorocco <img src="{{ url_for('static', filename='images/cubes/Adamorocco.png') }}" class="icon" alt="Adamorocco's icon"> (first user & friend)</li>
            <li>Sword / Evan (friend)</li>
            <li>Kevino <img src="{{ url_for('static', filename='images/cubes/Kevino.png') }}" class="icon" alt="Ylissen's icon"> (friend)</li>
            <li>Roxy <img src="{{ url_for('static', filename='images/cubes/Roxy.png') }}" class="icon" alt="Ylissen's icon"> (friend)</li>
            <li>Viktor Lukyanov (best teacher ever)</li>
            <li>Every user of this site! <img src="{{ url_for('static', filename='images/cubes/CarryTheBall.png') }}" class="icon" alt="CarryTheBall"></li>
        </ul>
    </p>
</main>
{% endblock %}
