{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}" class="current">Home</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('community') }}">Community</a>
        {% if logged_in %}
            <a href="{{ url_for('log_out') }}">Log Out</a>
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main>
    <div class="persistent-columns small-margin-top">
        <div class="column">
            <h1 class="big no-margin">Gild56</h1>
            <h2 class="medium">Mykhailo Pankin</h2>
        </div>
        <div class="column" id="drawing-container">
            <img height="100px" id="drawing" src=" {{ url_for('static', filename='images/drawing.jpg') }} ">
        </div>
    </div>
    <p class="no-margin">
        My name is Mykhailo Pankin. I'm a Python coder and a Geometry Dash player from Ukraine living in France. That's my personal website. Have fun!
    </p>
</main>
{% endblock %}
