{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('levels_list') }}">Lists</a>
        <a href="{{ url_for('log_in') }}" class="current">Log In</a>
    </nav>
</header>

<main>
    <div class="align-center">
        <div class="form">
            <form method="post" action="{{ url_for('log_in') }}" name="log-in">
                <h1>Logging In:</h1>
                <p><input type="text" id="login" name="input_login" placeholder="Login" required></p>
                <p><input type="password" id="password" name="input_password" placeholder="Password" minlength="5" required></p>
                {% if error_message %}
                    <p class="red">{{ error_message }}</p>
                {% endif %}
                <button type="submit" class="subimt medium">Log In</button>
            </form>

            <a href="{{ url_for('sign_up') }}">I don't have an account...</a>
        </div>
    </div>
</main>
{% endblock %}
