{% extends 'base.html' %}

{% block title %}{{ player[0] }}{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('levels_list') }}" class="current">Lists</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main>
    <div style="display: flex; justify-content: center;"><div class="level-page-container">
        <h1 class="big no-margin">
            {% if player[1][4] %}
                <span class="tag"> [{{ player[1][4] }}] </span>
            {% endif %}
            {{ player[0] }}
            {% if flag_exists(player[1][1]) %}
                <img class="emoji" src="{{ url_for('static', filename='images/flags/' + player[1][1] + '.png') }}" alt="Flag of {{ player[1][1] }}">
            {% else %}
                <i>{{ player[1][1] }}</i>
            {% endif %}
        </h1>
        <a href="https://www.youtube.com/{{ player[1][0] }}" target="_blank" class="no-margin no-bg">
            <img src="{{ url_for('static', filename=('images/cubes/' + player[0] + '.png' )) }}" height="100" alt="{{ player[0] }}'s cube" class="player-cube">
        </a>
        {% if player[4] > 0 %}
            <p>#{{ levels_position }} Player ({{ player[4] }} points)</p>
        {% endif %}
        {% if challenges_points > 0 %}
            <p>#{{ challenges_position }} Challenge player ({{ challenges_points }} points)</p>
        {% endif %}
        <p class="player-description">{{ player[1][3] }}</p>
        <p><a href="https://youtube.com/{{ player[1][0] }}" target="_blank">YouTube Channel</a></p>
        {% if player[1][2] != "" %}
            <p><a href="{{ url_for('user_profile', profile=player[1][2]) }}" target="_blank">Community Account</a></p>
        {% endif %}
        <h2>Levels completed:</h2>
        {% if player[2] == [] %}
            <p>No levels completed</p>
        {% else %}
            <p>
                {% for level in player[2] %}
                    <a href="{{ url_for('level_page', level=level) }}" style="white-space: nowrap; line-height: 1.8;" target="_blank">{{ level }} (#{{ get_level_rank(level, levels_list_top) }})</a>
                {% endfor %}
            </p>
        {% endif %}
        <h2>Challenges completed:</h2>
        {% if player[3] == [] %}
            <p>No challenges completed</p>
        {% else %}
            <p>
                {% for challenge in player[3] %}
                    <a href="{{ url_for('challenge_page', challenge=challenge) }}" style="white-space: nowrap; line-height: 1.8;" target="_blank">{{ challenge }} (#{{ get_level_rank(challenge, challenges_list_top) }})</a>
                {% endfor %}
            </p>
        {% endif %}
    </div></div>
</main>
{% endblock %}
