{% extends 'base.html' %}

{% block title %}Post by {{ post[2] }}{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('log_out') }}">Log Out</a>
        <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
    </nav>
</header>

<main>
    <h1>Add a comment to this post:</h1>
    <form method="post" action="{{ url_for('post', post_id=post[0]) }}" class="margin-bottom">
        <p><textarea id="input-comment-text" name="input_comment_text" placeholder="Write your comment here..."></textarea></p>
        <button type="submit">Publish</button>
    </form>
    <hr>

    <h1>Discussion:</h1>
    <div class="post">
        <div class="row">
            <div class="img-container">
                <a href="{{ url_for('user_profile', profile=post[2]) }}" class="no-bg no-margin no-padding">
                    <img src="{{ url_for('static', filename=('images/cubes/' + get_pfp(post[2]))) }}" height="20", width="20">
                </a>
            </div>
            <a href="{{ url_for('user_profile', profile=post[2]) }}" class="name no-margin">{{ post[2] }}</a>
            <a class="link smaller-padding" onclick="copyLink('{{ post[0] }}')">Copy Link</a>
            {% if role == "admin" or username == post[2] %}
                <a class="red link smaller-padding small-margin-left" href="{{ url_for('delete_post', post_id=post[0]) }}">Delete</a>
            {% endif %}
        </div>

        <h3>{{ post[1] }}</h3>

        {% for comment in comments %}
            {% if comment[2] == post[0] %}
                <div class="comment">
                    <div class="row">
                        <div class="img-container">
                            <a href="{{ url_for('user_profile', profile=comment[3]) }}" class="name no-margin no-padding">
                                <img src="{{ url_for('static', filename=('images/cubes/' + get_pfp(comment[3]))) }}" height="20", width="20">
                            </a>
                        </div>
                        <a href="{{ url_for('user_profile', profile=comment[3]) }}" class="name no-margin">{{ comment[3] }}</a>
                        {% if role == "admin" or username == comment[3] %}
                            <a class="red link smaller-padding" href="{{ url_for('delete_comment', comment_id=comment[0]) }}">Delete</a>
                        {% endif %}
                    </div>
                    <h3>{{ comment[1] }}</h3>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="copyNotification" class="notification">
        Link copied to clipboard!
    </div>
</main>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/copyLink.js') }}"></script>
<script src="{{ url_for('static', filename='js/placeHolder.js') }}"></script>
{% endblock %}
