{% extends 'base.html' %}

{% block title %}{{ profile }}'s Profile{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('levels_list') }}">Lists</a>
        {% if my_profile and logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}" class="current">{{ username }}</a>
        {% elif logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main class="margin-top">
    <div class="columns">
        <div>
            <div class="big-img-container">
                <img src="{{ url_for('static', filename=('images/cubes/' + get_pfp(profile))) }}" height="130", width="130" alt="{{ profile }}'s pfp">
            </div>
        </div>
        <div>
            <div class="row">
                <h1 class="big no-margin">{{ profile }}</h1>
                {% if role == "admin" or username == profile %}
                    <a class="medium red link" href="{{ url_for('delete_user', profile=profile) }}">Delete</a>
                {% endif %}
                {% if role == "admin" and profile_role == "user" %}
                    <a class="medium link" href="{{ url_for('change_role', profile=profile) }}">Make admin</a>
                {% endif %}
                {% if role == "admin" and profile_role == "admin" and not username == profile %}
                    <a class="medium link" href="{{ url_for('change_role', profile=profile) }}">Make user</a>
                {% endif %}
                {% if username == profile %}
                    <a href="{{ url_for('log_out') }}" class="link no-margin small-margin-left">Log Out</a>
                {% endif %}
            </div>
            <p class="post bio">{{ bio }}</p>
        </div>
    </div>

    <h1 class="no-margin-bottom">Statistics:</h1>
    <p>
        {% if posts_count > 1 %}
            {{ profile }} wrote <b>{{ posts_count }}</b> posts.
        {% elif posts_count == 1 %}
            {{ profile }} wrote <b>1</b> post.
        {% else %}
            {{ profile }} didn't wrote any posts.<br>
        {% endif %}

        <br>

        {% if get_role(profile) == "user" %}
            Role: <b>user</b>
        {% else %}
            Role: admin
        {% endif %}
    </p>
    <hr>

    {% if my_profile %}
        <h1>Configure your profile:</h1>
        <p><a href="{{ url_for('change_pfp') }}" class="link no-margin">Change profile picture</a></p>
        <hr>
        <form method="post" action="{{ url_for('user_profile', profile=profile) }}" class="margin-bottom">
            <h1>Edit bio:</h1>
            <p><textarea id="input-bio" name="input_bio" placeholder="Write your bio here..."></textarea></p>
            <button type="submit">Publish</button>
        </form>
        <hr>
    {% endif %}

    {% if theres_posts %}
        <h1>Posts written by {{ profile }}:</h1>
        {% for post in posts %}
            {% if post[2] == profile %}
                <div class="post">
                    <div class="row">
                        <div class="img-container">
                            <a href="{{ url_for('user_profile', profile=post[2]) }}" class="no-bg no-margin no-padding">
                                <img src="{{ url_for('static', filename=('images/cubes/' + get_pfp(post[2]))) }}" height="20", width="20" alt="{{ post[2] }}'s profile picture">
                            </a>
                        </div>
                        <a href="{{ url_for('user_profile', profile=post[2]) }}" class="name no-margin">{{ post[2] }}</a>
                        <a class="link smaller-padding" onclick="copyLink('{{ post[0] }}')">Copy Link</a>
                        {% if logged_in %}
                            <a class="link smaller-padding small-margin-left" href="{{ url_for('post', post_id=post[0]) }}">Answer</a>
                        {% endif %}
                        {% if role == "admin" or username == post[2] %}
                            <a class="red link smaller-padding small-margin-left" href="{{ url_for('delete_post', post_id=post[0]) }}">Delete</a>
                        {% endif %}
                    </div>

                    <h3>{{ post[1] }}</h3>

                    {% if post[0] in comments_post_ids %}
                        <details><summary>Read comments...</summary>
                    {% endif %}

                    {% for comment in comments %}
                        {% if comment[2] == post[0] %}
                            <div class="comment">
                                <div class="row">
                                    <div class="img-container">
                                        <a href="{{ url_for('user_profile', profile=comment[3]) }}" class="name no-margin">
                                            <img src="{{ url_for('static', filename=('images/cubes/' + get_pfp(comment[3]))) }}" height="20", width="20" alt="{{ comment[3] }}'s pfp">
                                        </a>
                                    </div>
                                    <a href="{{ url_for('user_profile', profile=comment[3]) }}" class="name no-margin">{{ comment[3] }}</a>
                                    {% if role == "admin" or username == comment[3] %}
                                        <a class="red link smaller-padding" href="{{ url_for('delete_comment',comment_id=comment[0]) }}">Delete</a>
                                    {% endif %}
                                </div>
                                <h3>{{ comment[1] }}</h3>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </details>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h3 class="bigger-margin-bottom">There's not yet posts from {{ profile }}.</h3>
    {% endif %}
    <div id="copyNotification" class="notification">
        Link copied to clipboard!
    </div>
</main>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/copyLink.js') }}"></script>
{% endblock %}
