{% extends 'base.html' %}

{% block title %}Discord Server's Leaderboard{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('levels_list') }}" class="current">Lists</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main class="big-margin-left-right">

    {% if top_type == "by_hardest" %}
        <p class="bigger-line-height">
            <a href="{{ url_for('server_leaderboard_by_list_points') }}">Sort by points</a> |
            <a href="{{ url_for('server_leaderboard_by_5_hardests') }}">Sort by 5 hardests</a> |
            <a href="{{ url_for('levels_list') }}">Levels list</a>
        </p>
        <h1>Leaderboard (by hardest):</h1>
    {% elif top_type == "by_list_points" %}
        <p class="bigger-line-height">
            <a href="{{ url_for('server_leaderboard_by_hardest') }}">Sort by hardest</a> |
            <a href="{{ url_for('server_leaderboard_by_5_hardests') }}">Sort by 5 hardests</a> |
            <a href="{{ url_for('levels_list') }}">Levels list</a>
        </p>
        <h1>Leaderboard (by list points):</h1>
    {% else %}
        <p class="bigger-line-height">
            <a href="{{ url_for('server_leaderboard_by_hardest') }}">Sort by hardest</a> |
            <a href="{{ url_for('server_leaderboard_by_list_points') }}">Sort by points</a>
        </p>
        <h1>Leaderboard (by 5 hardests):</h1>
    {% endif %}

    <div class="align-on-mobile">
        {% for player in players %}{%if player[2] and (top_type != "by_5_hardests" or get_len(player[2]) > 4) %}
            <div class="level-container" onclick="window.location.href='{{ url_for('player_page', player=player[0]) }}'">
                <div class="row">
                    <div>
                        <a href="https://www.youtube.com/{{ player[1][0] }}" target="_blank" class="no-margin no-bg" onclick="event.stopPropagation()">
                            <img src="{{ url_for('static', filename=('images/cubes/' + player[0] + '.png' )) }}" height="100" alt="{{ player[0] }}'s cube" class="player-cube" onclick="event.stopPropagation()">
                        </a>
                    </div>
                    <h1 class="left-margin">
                        #{{ loop.index0 + 1 }} -
                        {% if player[1][4] %}
                            <span class="tag"> [{{ player[1][4] }}] </span>
                        {% endif %}
                        {{ player[0] }}
                        {% if flag_exists(player[1][1]) %}
                            <img class="emoji" src="{{ url_for('static', filename='images/flags/' + player[1][1] + '.png') }}" alt="Flag of {{ player[1][1] }}">
                        {% else %}
                            <i>{{ player[1][1] }}</i>
                        {% endif %}
                        {% if top_type == "by_hardest" %}
                            <span class="points"> ({{ player[2][0] }} - #{{ get_pos(player[2][0]) }})</span>
                        {% elif top_type == "by_list_points" %}
                            <span class="points"> ({{ player[3] }} pts)</span>
                        {% else %}
                            <span class="hardests"> Mean position: {{ get_mean([get_pos(player[2][0]), get_pos(player[2][1]), get_pos(player[2][2]), get_pos(player[2][3]), get_pos(player[2][4])]) }} ({% for i in range(5) %}{{ player[2][i] }} #{{ get_pos(player[2][i]) }}{% if i != 4 %}, {% endif %}{% endfor %})</span>
                        {% endif %}
                    </h1>
                </div>
            </div>
        {% endif %}{% endfor %}
    </div>
</main>
{% endblock %}
