{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('sign_up') }}" class="current">Sign Up</a>
    </nav>
</header>

<main>
    <div class="align-center">
        <div class="form">
            <form method="post" action="{{ url_for('sign_up') }}" class="margin-bottom">
                <h1>Sign Up:</h1>
                <p><input type="text" id="login" name="input_login" placeholder="Login" required></p>
                <p><input type="password" id="password" name="input_password" placeholder="Password" minlength="5" required></p>
                <p><input type="password" id="repeat-password" name="repeat_password" placeholder="Repeat Password" minlength="5" required></p>
                <p><input type="email" id="email" name="email" placeholder="Email" required></p>
                {% if error_message %}
                    <p class="red">{{ error_message }}</p>
                {% endif %}
                <button type="submit" class="subimt">Create Account</button>
            </form>

            <a href="{{ url_for('log_in') }}">I already have an account...</a>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/togglePassword.js') }}"></script>
<script src="{{ url_for('static', filename='js/placeHolder.js') }}"></script>
{% endblock %}
