{% extends 'base.html' %}

{% block title %}
    {% if top == "levels_list" %}
        Gild List Countries Leaderboard
    {% elif top == "challenges_list" %}
        Gild Challenges List Countries Leaderboard
    {% elif top == "server_levels_list" %}
        Gild Server List Countries Leaderboard
    {% else %}
        Gild Server Challenges List Countries Leaderboard
    {% endif %}
{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('radio_page') }}">Radio</a>
        <a href="{{ url_for('levels_list') }}" class="current">Lists</a>
        <a class="change-theme-button" onclick="toggleDarkMode()">Theme</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main class="big-margin-left-right">
    {% if top == "server_challenges_list" %}
        <h1>Gild Server Challenges List Countries Leaderboard</h1>
    {% elif top == "challenges_list" %}
        <h1>Gild Challenges List Countries Leaderboard</h1>
    {% elif top == "server_levels_list" %}
        <h1>Gild Server List Countries Leaderboard</h1>
    {% else %}
        <h1>Gild List Countries Leaderboard</h1>
    {% endif %}

    <div class="panel">
        <div class="dropdowns">
            <div class="dropdown">
                <button class="dropbtn">Gild List</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('levels_list') }}">List</a>
                    <a href="{{ url_for('levels_leaderboard') }}">Leaderboard</a>
                    <a href="{{ url_for('levels_countries_leaderboard') }}">Countries Leaderboard</a>
                    <a href="{{ url_for('challenges_list') }}">Challenges List</a>
                    <a href="{{ url_for('challenges_leaderboard') }}">Challenges Leaderboard</a>
                    <a href="{{ url_for('challenges_countries_leaderboard') }}">Challenges Countries Leaderboard</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Gild Server List</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('server_levels_list') }}">List</a>
                    <a href="{{ url_for('server_levels_leaderboard') }}">Leaderboard</a>
                    <a href="{{ url_for('server_levels_countries_leaderboard') }}">Countries Leaderboard</a>
                    <a href="{{ url_for('server_challenges_list') }}">Challenges List</a>
                    <a href="{{ url_for('server_challenges_leaderboard') }}">Challenges Leaderboard</a>
                    <a href="{{ url_for('server_challenges_countries_leaderboard') }}">Challenges Countries Leaderboard</a>
                    <a href="https://forms.gle/VAqJRdPQK47DafAC8" target="_blank">Add your level</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Server's Leaderboard</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('server_leaderboard_by_hardest') }}">By hardest</a>
                    <a href="{{ url_for('server_leaderboard_by_list_points') }}">By list points</a>
                    <a href="{{ url_for('server_leaderboard_by_5_hardests') }}">By 5 hardests</a>
                    <a href="{{ url_for('server_leaderboard_top_levels') }}">Top levels</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">More</button>
                <div class="dropdown-content">
                    <a href="https://docs.google.com/document/d/175JXSvwwOD0jXMXp24Llsg0-4lgEofpFAeNFF7lGRQY/edit?usp=sharing" target="_blank">Rules</a>
                    <a href="https://forms.gle/zox839bvvHJEsuGU8" target="_blank">Create Account</a>
                    <a href="https://forms.gle/nggL7XxdbJx3YLT18" target="_blank">Send a completion</a>
                    <a href="{{ url_for('roulette_page') }}" target="_blank">Roulette</a>
                </div>
            </div>
        </div>
    </div>

    <div class="align-on-mobile">
        {% for country in countries %}{% if country[top + "_points"] > 0 %}
            <div class="level-container">
                <div class="row">
                    <h1 class="left-margin">
                        #{{ loop.index0 + 1 }} - 
                        <img class="emoji flag" style="margin-right: 5px; margin-left: 5px;" src="{{ url_for('static', filename='images/flags/' + country['code'] + '.svg') }}" alt="Flag of {{ country['name'] }}">
                        {{ country['name'] }}
                        <span class="points no-margin"> ({{ country[top + "_points"] }} pts / {{ country["players_count"] }} player{% if country["players_count"] > 1 %}s{% endif %})</span>
                    </h1>
                </div>
            </div>
        {% endif %}{% endfor %}
    </div>
</main>
{% endblock %}
