{% extends 'base.html' %}

{% block title %}
    {% if top == "levels" %}
        Leaderboard
    {% else %}
        Challenges leaderboard
    {% endif %}
{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('radio_page') }}">Radio</a>
        <a href="{{ url_for('levels_list') }}" class="current">Lists</a>
        <a class="change-theme-button" onclick="toggleDarkMode()">Theme</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main class="big-margin-left-right">
    {% if top == "levels_list" %}
        <h1>Gild List Leaderboard</h1>
    {% elif top == "challenges_list" %}
        <h1>Gild Challenges List Leaderboard</h1>
    {% elif top == "server_levels_list" %}
        <h1>Gild Server List Leaderboard</h1>
    {% else %}
        <h1>Gild Server Challenges List Leaderboard</h1>
    {% endif %}

    <div class="panel">
        <div class="dropdowns">
            <div class="dropdown">
                <button class="dropbtn">Gild List</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('levels_list') }}">List</a>
                    <a href="{{ url_for('levels_leaderboard') }}">Leaderboard</a>
                    <a href="{{ url_for('challenges_list') }}">Challenges List</a>
                    <a href="{{ url_for('challenges_leaderboard') }}">Challenges Leaderboard</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Gild Server List</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('server_levels_list') }}">List</a>
                    <a href="{{ url_for('server_levels_leaderboard') }}">Leaderboard</a>
                    <a href="{{ url_for('server_challenges_list') }}">Challenges List</a>
                    <a href="{{ url_for('server_challenges_leaderboard') }}">Challenges Leaderboard</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Server's Leaderboard</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('server_leaderboard_by_hardest') }}">By hardest</a>
                    <a href="{{ url_for('server_leaderboard_by_list_points') }}">By list points</a>
                    <a href="{{ url_for('server_leaderboard_by_5_hardests') }}">By 5 hardests</a>
                    <a href="{{ url_for('server_leaderboard_top_levels') }}">Top levels</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">More</button>
                <div class="dropdown-content">
                    <a href="https://docs.google.com/document/d/175JXSvwwOD0jXMXp24Llsg0-4lgEofpFAeNFF7lGRQY/edit?usp=sharing" target="_blank">Rules</a>
                    <a href="https://forms.gle/zox839bvvHJEsuGU8" target="_blank">Create Account</a>
                    <a href="https://forms.gle/nggL7XxdbJx3YLT18" target="_blank">Send a completion</a>
                </div>
            </div>
        </div>
    </div>

    <div class="align-on-mobile">
        {% for player in players %}{% if player[6] > 0 %}
            <div class="level-container" onclick="window.location.href='{{ url_for('player_page', player=player[0]) }}'">
                <div class="row">
                    <div>
                        <a href="https://www.youtube.com/{{ player[1][0] }}" target="_blank" class="no-margin no-bg" onclick="event.stopPropagation()">
                            <img src="{{ url_for('static', filename=('images/cubes/' + player[0] + '.png' )) }}" height="100" alt="{{ player[0] }}'s cube" class="player-cube" onclick="event.stopPropagation()">
                        </a>
                    </div>
                    <h1 class="left-margin">
                        #{{ loop.index0 + 1 }} - 
                        {% if player[1][6] %}
                            <span class="tag"> [{{ player[1][6] }}] </span>
                        {% endif %}
                        {{ player[0] }}
                        {% if flag_exists(player[1][1]) %}
                            <img class="emoji flag" src="{{ url_for('static', filename='images/flags/' + player[1][1] + '.svg') }}" alt="Flag of {{ player[1][1] }}">
                        {% else %}
                            - <i>{{ player[1][1] }}</i>
                        {% endif %}
                        <span class="points"> ({{ player[6] }} pts)</span>
                    </h1>
                </div>
            </div>
        {% endif %}{% endfor %}
    </div>
</main>
{% endblock %}
