{% extends 'base.html' %}

{% block title %}#{{ level['position'] }} - {{ level['name'] }}{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('community') }}">Community</a>
        <a href="{{ url_for('radio_page') }}">Radio</a>
        <a href="{{ url_for('levels_list') }}" class="current">Lists</a>
        <a class="change-theme-button" onclick="toggleDarkMode()">Theme</a>
        {% if logged_in %}
            <a href="{{ url_for('user_profile', profile=username) }}">{{ username }}</a>
        {% else %}
            <a href="{{ url_for('log_in') }}">Log In</a>
        {% endif %}
    </nav>
</header>

<main>
    <div style="display: flex; justify-content: center;"><div class="level-page-container">
        <h1 class="copyable-heading big" data-copy-text="{{ level[1] }}">#{{ level['position'] }} - {{ level['name'] }}</h1>
        {% if level['gild_completion'] == "" and not level['gild_completion'] == "None" %}rfgredfs
            <iframe width="533.33" height="300"
                    src="https://www.youtube.com/embed/{{ level['gild_completion'] }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="levels-page-preview">
            </iframe>
        {% elif level['completions'] %}
            <iframe width="533.33" height="300"
                    src="https://www.youtube.com/embed/{{ next(iter(level['completions'].values())) }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="levels-page-preview">
            </iframe>
        {% else %}
            <img src="{{ 'https://levelthumbs.prevter.me/thumbnail/' + level['id'] }}" height="300" alt="{{ level['name'] }}'s preview" class="levels-page-preview" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/thumbnails/' + level['name'] + '.png') }}';">
        {% endif %}
        <p>{{ level['description'] }}</p>
        <p>ID: {{ level['id'] }}</p>
        <h2>Victors:</h2>
        {% if level['completions'] %}
            {% for player, video in level['completions'].items() %}
                 <p>
                    <img src="{{ url_for('static', filename='images/cubes/' + player + '.png') }}" class="icon" alt="{{ player }}'s icon">
                    <a href="{{ url_for('player_page', player=player) }}">{{ player }}</a> -
                    <a href="https://www.youtube.com/watch?v={{ video }}" target="_blank">Video</a>
                </p>
            {% endfor %}
        {% else %}
            <p>There are no victors yet</p>
        {% endif %}
        <p style="margin-top: 3em;"><a href="https://forms.gle/nggL7XxdbJx3YLT18" target="_blank">Send a completion</a></p>
    </div></div>

    <div id="copyNotification" class="notification">
        ID copied to clipboard!
    </div>
</main>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/copyLink.js') }}"></script>
{% endblock %}
